<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="dns-prefetch" href="//img01.moulingtao.net">
<link rel="dns-prefetch" href="//img02.moulingtao.net">
<link rel="dns-prefetch" href="//img03.moulingtao.net">
<link rel="dns-prefetch" href="//img04.moulingtao.net">
<link rel="dns-prefetch" href="//img05.moulingtao.net">
<link rel="dns-prefetch" href="//pte01.moulingtao.net">
<link rel="dns-prefetch" href="//pte02.moulingtao.net">
<link rel="dns-prefetch" href="//pte03.moulingtao.net">
<link href="//img01.moulingtao.net/wssbsw/style/main.css?201401161112" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//img02.moulingtao.net/lib/jquery/jquery-1.4.min.js?201401101256"></script>